.main-home{
    margin-top: 160px;
}
.home_images-background {

}
.home_products {
    margin-bottom: 20px;
}
.home_products-bestseller {
    background-color: #E0F8E4;
    padding-top: 8px;
}
.home_products--header {
    font-size: 24px;
    margin: 12px 50px;
    padding: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;


}
.home_products--product {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 90px;
}
.home_products--product-detail {
    width: 17%;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    margin: 12px;
}
.home_products--product-detail:nth-child(n+11) {
  display: none;
}
.home_products--product-detail:hover {
    border: 1px solid #2D982A;
}

.home_products--products img{
    width: 100%;
    height: auto;
    padding: 12px;

}
.home_products--product-detail-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.home_products--product-detail-price {
    font-weight: bold;
}
.home_products--product-detail-button {
    width: 100%;
    text-align: center;
}
.home_products--product-detail-button input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    font-size: 14px;

}
.home_products--product-detail-button input:hover {
    background-color: #2D982A;
    color: #fff;
}

.home_products-new {
    background-color: #ffffff;
    padding-top: 8px;
}
.background-space{
    height: fit-content;
}
.background-space img{
    height: 198px;
    width: 100%;
    padding: 21px 100px;
}


.products-category{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin: 5px auto 0;
}

.products-category--detail{
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #000;
    margin: 0 8px;
    text-align: center;

}

.products-category--detail:hover{
    border-bottom: 2px solid #2D982A;
    color: #2D982A;
}

.products-view-all {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 8%;
    margin: 20px auto 0;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #2D982A;
    border: 1px solid #2D982A;
    border-radius: 8px;

}
.products-view-all:hover {
  background-color: #2D982A;
  font-weight: bold;
  color: #fff;
}

.easy__buy{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    width: 80%;
}
.easy__buy div:first-child{
    flex: 1;
    border-right: 1px solid #2D982A;
}
.easy__buy div:last-child{
    flex: 1;
    border-left: 1px solid #2D982A;
}

.easy__buy-main {
    background-color: #CEEFCD;
    margin: 20px;
    padding: 10px 0;
}
.easy__buy-header {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;

}

.images-background-big img{
    height: 300px;
    width: 100%;
    background-color: #197b14;
}

.images-background-small{
    margin: 0px auto;
    position: relative;
    top: -50px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
}
.container-banner{
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    padding-left: 100px;
    align-items: self-end;
}
.slider-main{
    height: 227px;
    width: 626px;
    display: flex;
    margin-bottom: 19px;
}
.slide-fade{
    display: flex;
    flex-direction: row;
}
.slider-main img{
    height: 227px;
    width: 611px;
    position: relative;
    margin: 0 12px;
    padding: 0px;
}
.slide{
    display: none;
}
.slide.active{
    transition: background-color 1.2s left;
    animation-name: slide;
    animation-duration: 10s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.dot {
    cursor:pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

  }
.dot.active, .dot:hover {
    background-color: #717171;
}

.active{
    color: #2D982A;
    font-weight: bold;
    justify-items: center;
    font-size: 16px;
    border-bottom: 2px solid #2D982A;
    cursor: pointer;

}
