
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>

<div class="main-home">
    <div class="home_images-background">
        <div class="images-background-big" >
            <img src="/assets/image/products/product1.jpg" alt="" >
        </div>
        <div class="images-background-small">
            <img src="/assets/image/products/product1.jpg" alt="" >
            <img src="/assets/image/products/product1.jpg" alt="" >
        </div>
        <div class="home_products">
            <div class="home_products-bestseller">
                <p class="home_products--header">
                    SẢN PHẨM BÁN CHẠY
                </p>
                <div class="home_products--product">
                    <a class="home_products--product-detail" href="" >
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price" href="">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a class="home_products--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a class="home_products--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a class="home_products--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a    class="home_products--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                </div>
             <div>
                <div class="home_products-new">
                    <p class="home_products--header">
                        SẢN PHẨM MỚI
                    </p>
                    <div class="home_products--product">
                        <a class="home_products--product-detail" href="" >
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price" href="">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                        <a class="home_products--product-detail" href="">
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                        <a class="home_products--product-detail" href="">
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                        <a class="home_products--product-detail" href="">
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                        <a    class="home_products--product-detail" href="">
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                    </div>
                    <div class="background-space">
                        <img src="/assets/image/products/product1.jpg" alt="" class="background-space--image">
                    </div>
                    <div class="products-category">
                        <a class="products-category--detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')" >Giảm đau, hạ sốt</a>
                        <a class="products-category--detail" href="">Tim mạch</a>
                        <a class="products-category--detail" href="">Thần kinh</a>
                        <a class="products-category--detail" href="">Tiêu hóa, gan mật</a>
                        <a class="products-category--detail" href="">Mắt, tai, mũi, họng</a>

                    </div>
                    <div class="home_products--product">
                        <a class="home_products--product-detail" href="" *ngIf="id=='giamdauhasot'">
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price" href="">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                        <a class="home_products--product-detail" href="">
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                        <a class="home_products--product-detail" href="">
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                        <a class="home_products--product-detail" href="">
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                        <a    class="home_products--product-detail" href="">
                            <img src="/assets/image/products/product1.jpg" alt="">
                            <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                            <p class="home_products--product-detail-price">220.000đ</p>
                            <div class="home_products--product-detail-button">
                                <input type="button" value="CHỌN MUA" >
                            </div>
                        </a>
                    </div>
                    <a class="products-view-all" href="">Xem tất cả</a>
                 <div class="easy__buy-main">  
                    <h2>MUA HÀNG DỄ DÀNG TẠI THANH BÌNH</h2>
                    <div class="easy__buy">
                        <div align="center">
                            <img src="/assets/images/trangChu/Mua trên website.jpg" >
                            <p>
                                Mua trực tiếp 
                                <br>
                                tại hệ thống cửa hàng Thanh Bình
                            </p>
                        </div>
                        <div align="center">
                            <img src="/assets/images/trangChu/Mua trên website.jpg" >
                            <p>
                                Chọn và mua ngay sản phẩm 
                                <br>
                                tại website của nhà thuốc Thanh Bình
                            </p>
                        </div>
                    </div>
        </div>
                </div>
            </div>
        </div>

    </div>

</div>

