*{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
}
.main-left{
    width: 15%;
}
/* -----Cố định--------- */
.main-right{
    background: #F6F8FB;
    width: 85%;
    height: 100vh;
    display: flex;
    padding: 0 38px;
    flex-direction: column;
}
.admin-info{
    display: flex;
    background: #F6F8FB;
    padding: 24px 0px;
    justify-content: flex-end;

}
.admin-ava{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.admin-info .material-symbols-outlined{
    cursor: pointer;
}
.material-icons-outlined{
    float: left;
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
.admin-name{
    width: fit-content;
    height: fit-content;
    margin: 0 10px;
    text-align: center;
}
.page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
}
.page-title p{
    font-weight: bold;
    font-size: 35px !important;
    margin: 0;
    padding: 0;
}
.page-search{
    color: #f2f2f2;
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}
#search{
    font-size: 13px;
    border: none;
}
.page-search .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  color: #979797;
}
/* --------------------------- */

.product_list{
    height:fit-content;
    display: block;
    border-radius: 50px;
}
.product_list__table{
    width: 100%;
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: auto;
}
.table_content{
    max-height: 200px !important; /* chiều cao tối đa của phần nội dung */
    overflow-y: auto; /* thêm thanh cuộn nếu phần nội dung vượt quá max-height */
}
.table_data:hover{
    background: #f3fccf;
}
.table_title th{
    height: 40px;
    text-align: center;
    background-color: #91d88e;
}
.table_data td{
    border-bottom: 1px solid #ddd;
}
.table_content tr:nth-child(even){background-color: #dcf4db}
.table_content tr:nth-child(even):hover{background-color: #f3fccf}
.pro_image img{
    height: 38px;
    align-items: center;
    background-color: transparent;
    border: 1px solid #B5B5B5;
}
#visual{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #A0A4A8;
}
#add{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #225730;
}
#delete{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #ff0000;
}
.product_action{
    height: 20%;
    text-align: center;
    display: block;
    margin-top: 20px;
}
.page_navigation{
    display: block;
}
.page_navigation a {
    
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
}
.page_navigation a.active {
    background-color: #225730;
    color: white;
}
.page_navigation a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.product_edit{
    text-align: center;
    float: right;
}
