<div class="category-main">
    <div class="category-address">

    </div>
    <div class="category-background">
        <img src="/assets/image/products/product1.png" alt="" class="background-space--image">

    </div>
    <div class="category-main--list">
        <div class="category-list">
                <a class="category-detail" id="giamdauhasotkhangsinh" [class.active]="id === 'giamdauhasotkhangsinh'" (click)="tabChange('giamdauhasotkhangsinh')" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="category-detail-name" >Giảm đau, hạ sốt, kháng sinh</p>
                </a>
        </div>
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Tim mạch, tiểu đường, mỡ máu</p>
            </a>
        </div>
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Thần kinh</p>
            </a>
        </div>
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Tiêu hóa, gan mật</p>
            </a>
        </div>
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Mắt, tai, mũi, họng</p>
            </a>
        </div>
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Hô hấp</p>
            </a>
        </div>
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Kháng sinh, kháng nấm</p>
            </a>
        </div>  
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Sinh lí</p>
            </a>
        </div>  
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Cơ xương</p>
            </a>
        </div>  
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Da liễu, dị ứng</p>
            </a>
        </div>  
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Thuốc trị ung thư</p>
            </a>
        </div>  
        <div class="category-list">
            <a class="category-detail" href="" id="giamdauhasot" [class.active]="id === 'giamdauhasot'" (click)="tabChange('giamdauhasot')"  >
                <img src="/assets/image/products/product1.png" alt="">
                <p class="category-detail-name" >Thuốc giảm cân, làm đẹp</p>
            </a>
        </div>      
  
        

    </div>
    <div class="products--header">
        <a class="products--header">53 sản phẩm</a>
    </div>
        <div class="products--product">
            <div class="product-detail" *ngIf="id==='giamdauhasotkhangsinh'" >
                <a class="products--product-detail" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail">
                <div class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </div>
            </div>
    </div> 
        <a href="" class="products--product-add">Xem thêm</a>   
</div>
            
