
.products--header {
    font-size: 30px;
    margin: 12px 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #000;


}
.product-detail {
    width: 20%;     
    padding: 24px 24px;;

}
.products--product {
    display: flex;
    flex-wrap: wrap;
}
.products--product-detail {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    /* margin: 0 12px; */
}
.products--product-detail:hover {
    border: 1px solid #2D982A;
}

.products--products img{
    width: 100%;
    height: auto;
    padding: 12px;

}
.products--product-detail-name {

}
.products--product-detail-price {
    font-weight: bold;
}
.products--product-detail-button {
    width: 100%;
    text-align: center;
}
.products--product-detail-button input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    font-size: 14px;

}
.products--product-detail-button input:hover {
    background-color: #2D982A;
    color: #fff;
}


.products--product-add{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    margin: 30px auto 0;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2D982A;
    border: 1px solid #2D982A;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bold;
}

.category-main{
    margin-top: 160px;

}

.category-list{
    padding: 5px;
    

}

.category-detail{

    background-color: #F2F2F2;  
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    width: 150px;
    height: 152px;
    margin: 0 auto;
    margin: 10px ;
    border: #7F7F7F;
    
}
.category-detail img{
    width: 76px;
    margin: auto;   
    padding: 20px;
    height: 85.19px;
}

.category-detail:hover {
    border: 1px solid #2D982A;
}

.category-detail-name{
    text-align: center;
    font-size: 16px;
}

.category-main--list{
    display: flex;
    flex-wrap: wrap;

}

.category-background img{
    height: 300px;
    width: 100%;
    /* padding:60px ; */

}

.category-address{

}

