<div class="category-main">
    <div class="category-address">
    <p>Trang chủ / category</p>
    </div>
    <div class="category-background">
        <img src="/assets/image/products/product1.png" alt="" class="background-space--image">
    </div>
    <div class="category-main--list">
      <div class="category-list" *ngFor="let subcategory of subcategories">
        <a class="category-detail">
            <img src="/assets/image/products/product1.png" alt="">
            <p class="category-detail-name" >{{ subcategory }}</p>
        </a>
      </div>
    </div>

    <div class="box__products--list">
        <a class="products--header">Danh sách sản phẩm: 53 sản phẩm</a>
        <div class="products--product">
            <div class="product-detail" *ngIf="id==='giamdauhasotkhangsinh'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <div class="product-detail" *ngIf="id==='giamdauhasotkhangsinh'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='giamdauhasotkhangsinh'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='giamdauhasotkhangsinh'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='giamdauhasotkhangsinh'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--Danh mục khác-->

            <div class="product-detail" *ngIf="id==='timmachtieuduongmomau'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->
            <div class="product-detail" *ngIf="id==='thankinh'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thankinh'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thankinh'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->

            <div class="product-detail" *ngIf="id==='tieuhoaganmat'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='tieuhoaganmat'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='tieuhoaganmat'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='tieuhoaganmat'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->

            <div class="product-detail" *ngIf="id==='mattaimuihong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='mattaimuihong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='mattaimuihong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='mattaimuihong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='mattaimuihong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->

            <div class="product-detail" *ngIf="id==='hohap'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='hohap'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='hohap'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='hohap'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='hohap'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='hohap'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->

            <div class="product-detail" *ngIf="id==='khangsinhkhangnam'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='khangsinhkhangnam'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='khangsinhkhangnam'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='khangsinhkhangnam'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='khangsinhkhangnam'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='khangsinhkhangnam'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='khangsinhkhangnam'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->

            <div class="product-detail" *ngIf="id==='sinhli'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='sinhli'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='sinhli'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='sinhli'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='sinhli'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='sinhli'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='sinhli'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='sinhli'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->

            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='coxuong'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->

            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='dalieudiung'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->

            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuoctriungthu'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>

            <!--  -->
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
            <div class="product-detail" *ngIf="id==='thuocgiamcanlamdep'" >
                <a class="products--product-detail" href="" >
                    <img src="/assets/image/products/product1.png" alt="">
                    <p class="products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                    <p class="products--product-detail-price" href="">220.000đ</p>
                    <div class="products--product-detail-button">
                        <input type="button" value="CHỌN MUA" >
                    </div>
                </a>
            </div>
        </div>
    </div>

        <a href="" class="products--product-add">Xem thêm</a>
</div>

