.box__products--list{
    display: flex;
    flex-direction: column;
    padding: 0 90px
}
.products--header{
    font-size: 30px;
    margin: 12px 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.product-detail {
    width: 20%;     
    padding: 24px 24px;;
}
.products--product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.products--product-detail {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    /* margin: 0 12px; */
}
.products--product-detail:hover {
    border: 1px solid #2D982A;
}

.products--products img{
    width: 100%;
    height: auto;
    padding: 12px;

}
.products--product-detail-name {

}
.products--product-detail-price {
    font-weight: bold;
}
.products--product-detail-button {
    width: 100%;
    text-align: center;
}
.products--product-detail-button input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    font-size: 14px;

}
.products--product-detail-button input:hover {
    background-color: #2D982A;
    color: #fff;
}


.products--product-add{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    margin: 30px auto 0;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2D982A;
    border: 1px solid #2D982A;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bold;
}

.category-main{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.category-detail:hover {
    border: 1px solid #2D982A;
    background: #E0F8E4;
}

.category-detail-name{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.category-main--list{
    margin-top: 12px;
    padding: 0 90px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    
}
.category-list{
    width:14.286%;
    height: max-content;
    margin-bottom: 19px;
    padding: 0 10px;
}

.category-detail{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    cursor:pointer;
}
.category-detail img{  
    padding: 20px;
}
.category-background img{
    height: 300px;
    width: 100%;
    padding: 0 60px ;

}

.category-address{
    margin: 23px 60px 13px;
}
.category-address p{
    margin: 0;
}
