<div class="category-main">
  <div class="section">
    <ol>
        <li>Trang chủ</li>
        <li>{{ category }}</li>
        <li>{{ id }}</li>
    </ol>
  </div>
  <div class="category-background">
      <img src="/assets/image/home/banner-cate.jpg" alt="" class="background-space--image">
  </div>
  <div class="category-main--list">
    <div class="category-list" *ngFor="let subcategory of subcategories" (click)="tabChange(subcategory)">
      <a class="category-detail">
          <img src="/assets/image/products/product1.png" alt="">
          <p class="category-detail-name" >{{ subcategory }}</p>
      </a>
    </div>
  </div>

  <div class="box__products--list-sub"  *ngIf="displaycategory; else displaySub">
    <a class="products--header">Danh sách {{id}}: {{countMedicine}} sản phẩm</a>
    <div class="products--product-sub">
      <ng-container class="product-detail-sub" *ngFor="let medicine of medicineCategories">
        <a (click)="navigateToProductDetail(medicine._id)" class="products--product-detail-sub" *ngIf="medicine.SubCategory === id" >
            <img src="{{ medicine.Image }}" alt="" width="225px" height="255px">
            <p class="products--product-detail-name" >{{ medicine.Name }}</p>
            <p class="products--product-detail-price" href="">{{ medicine.Price }}</p>
            <div class="products--product-detail-button">
                <input type="button" value="CHỌN MUA" >
            </div>
        </a>
      </ng-container>
    </div>
    <a href="" class="products--product-add">Xem thêm</a>
  </div>
  <ng-template #displaySub>
    <div class="box__products--list">
    <a class="products--header"> {{category}}: {{countMedicine}} sản phẩm</a>
    <div class="products--product">
      <div class="product-detail" *ngFor="let medicine of medicineCategories">
        <a (click)="navigateToProductDetail(medicine._id)" class="products--product-detail" >
            <img src="{{ medicine.Image }}" alt="">
            <p class="products--product-detail-name" >{{ medicine.Name }}</p>
            <p class="products--product-detail-price" href="">{{ medicine.Price }}</p>
            <div class="products--product-detail-button">
                <input type="button" value="CHỌN MUA" >
            </div>
        </a>
      </div>
    </div>
    </div>
  </ng-template>



