*{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
}
.main-left{
    width: 15%;
}
/* -----Cố định--------- */
.main-right{
    background: #F6F8FB;
    width: 85%;
    height: 100vh;
    display: flex;
    padding: 0 38px;
    flex-direction: column;
}
.admin-info{
    display: flex;
    background: #F6F8FB;
    padding: 24px 0px;
    justify-content: flex-end;

}
.admin-ava{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.material-icons-outlined{
    float: left;
    
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
.admin-name{
    width: fit-content;
    height: fit-content;
    margin: 0 10px;
    text-align: center;
}
.page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
}
.page-title p{
    font-weight: bold;
    font-size: 35px !important;
    margin: 0;
    padding: 0;
}
.page-search{
    color: #f2f2f2;
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}
#search{
    font-size: 13px;
    border: none;
}
.page-search .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  color: #979797;
}
/* --------------------------- */

.page-body{
    margin: 0 70px;
    display: flex;
    flex-direction: row;
}
.page-body-category{
    display: flex;
    width: 40%;
    height: max-content;
    background-color: #ffffff;
    margin-right: 50px;
    flex-direction: column;
    text-align-last: center;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 20px;
}
.page-body-category h3{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.box__category--father tbody tr td img{
    border: 1px solid #B5B5B5;
    width: 50px;
    height: auto;
}
.box__category--father{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}
.box__category--father thead{
    background: #afdbad;
}
.box__category--father thead th{
    padding: 15px 0;
}
.box__category--father tbody tr{
    cursor: pointer;
}
.box__category--father tbody tr td{
    padding: 8px 0;
}
.box__category--father tbody tr td:nth-child(1){
    padding: 0 8px;
}
.box__category--father tbody tr:hover{
    background: #DCF4DB;
}
.active{
    background: #DCF4DB;
    font-weight: bold;
}
.category__row--function{
    margin: 0;
    padding: 0;
}
#visual{
    border: none;
    cursor: pointer;
    background: none;
    color: #747474;
}
.category__row--function button:nth-child(1) .material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
}
#delete{
    border: none;
    
    background: none;
    cursor: pointer;
}

.page-body-child{
    width: 60%;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    text-align-last: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
}
.page-body-child h3{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.box__category--child tbody tr td img{
    border: 1px solid #B5B5B5;
    width: 30px;
    height: auto;
}

.box__category--child{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}
.box__category--child thead{
    background: #afdbad;
}
.box__category--child thead th{
    padding: 15px 0;
}

.box__category--child tbody tr td:nth-child(1){
    padding: 0 8px;
}
.box__category--child tbody tr:hover{
    background: #DCF4DB;
}
.box__category--child tbody tr{

}
.page-body-child button, .page-body-category button{
    background-color: #225730;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
}
.add-category{
    text-align-last: right;
}
