
    <div class="container">
        <div class="section">
            <ol>
                <li>Trang chủ</li>
                <li>Dược mỹ phẩm</li>
                <li>Chăm sóc tóc - Da đầu</li>
                <li>Dưỡng tóc</li>
            </ol>
        </div>
        <div class="content">
            <div class="content__item">
                <div class="item__img">
                    <div class="item__img--main">
                        <img src="/assets/images/chiTietSanPham/Serum Welhair.jpg" >
                    </div>
                    <div class="item__img--extra">
                        <img src="/assets/images/chiTietSanPham/Welhair 1.jpg" >
                        <img src="/assets/images/chiTietSanPham/Welhair 2.jpg" >
                        <img src="/assets/images/chiTietSanPham/Welhair 3.jpg" >
                    </div>
                </div>
                <div class="item__infor">
                    <h2>Serum Welhair ngăn rụng tóc, kích thích mọc tóc chai 100ml</h2>
                    <h2 class="item__infor--price">225.100đ</h2>
                    <ul>
                        <li>Cách đóng gói: Chai 100ml</li>
                        <li>Nhà sản xuất: Welhair</li>
                        <li>Nơi sản xuất: Việt Nam</li>
                    </ul>
                    <div class="amount">
                        <p>
                            Chọn số lượng:
                        </p>
                        <div class="item--amount">
                            <button><i class="bi bi-dash"></i></button>
                            <input type="text" value="1">
                            <button><i class="bi bi-plus"></i></button>
                        </div>
                    </div>
                    <div class="buy--button"><input type="button" value="CHỌN MUA" ></div>
                </div>
            </div>
            <div class="content__description">
                <h2>Serum Welhair ngăn rụng tóc, kích thích mọc tóc chai 100ml</h2>
                <div><img src="/assets/images/chiTietSanPham/Serum Welhair.jpg"></div>
                <h3>Đặc điểm nổi bật</h3>
                <p>Với sự kết hợp của năm chiết xuất thiên nhiên như: Chiết xuất rễ cây Hoàng Cầm, Chiết xuất mầm Đậu tương,Chiết xuất mầm Lúa mạch, Chiết xuất vỏ cây Liễu và Chiết xuất cây Tạo phì thảo, cùng với việc bổ sungCreatine, serum Welhair là sự kết hợp hoàn hảo của thảo dược Đông-Tây giúp nuôi dưỡng tóc từ bên trong, làmcho tóc chắc khỏe, giảm hư tổn, gãy rụng. Bộ ba chiết xuất rễ cây Hoàng Cầm, mầm Đậu tương, mầm Lúa mạch đượcnhập khẩu trực tiếp từ Châu Âu đã được chứng minh lâm sàng về khả năng ngăn ngừa rụng tóc và kích thích mọctóc.</p>
                <h3>Công dụng</h3>
                <p>Nuôi dưỡng tóc từ bên trong, giúp tóc chắc khỏe, giảm hư tổn, gãy rụng.</p>
                <div class="more--button">
                    <input type="button" value="Xem thêm">
                    <i class="bi bi-chevron-down"></i>
                </div>
            </div>
            <div class="home_products-new">
                <p class="home_products--header">
                    SẢN PHẨM MỚI
                </p>
                <div class="home_products--product">
                    <a class="home_products--product-detail" href="" >
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name" >Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price" href="">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a class="home_products--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a class="home_products--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a class="home_products--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                    <a    class="home_products--product-detail" href="">
                        <img src="/assets/image/products/product1.jpg" alt="">
                        <p class="home_products--product-detail-name">Pentymax hỗ trợ ăn ngon miệng, ngủ ngon giấc hộp 60 viên</p>
                        <p class="home_products--product-detail-price">220.000đ</p>
                        <div class="home_products--product-detail-button">
                            <input type="button" value="CHỌN MUA" >
                        </div>
                    </a>
                </div>
            <div class="comment">
                <p><i class="bi bi-chat-left-quote"></i>BÌNH LUẬN</p>
                <textarea name="comment" id="comment" placeholder="Nhập nội dung..."></textarea>
                <div class="sendComment">
                    <input type="button" value="GỬI BÌNH LUẬN" id="sendComment">
                </div>
            </div>
            </div>
        </div>
