

<div class="container"> 
    <!-- <div class="section">
        <ul>
            <li>Trang chủ</li>
            <li>Về Benzen</li>
        </ul>
    </div> -->
    <div class="box-left">
        <div class="navbar">
            <h4>Tất cả bài viết</h4>
            <div class="list">
                <a  id="overview" [class.active]="id === 'overview'" (click)="tabChange('overview')">
                    <p class="list-item" >Giới thiệu nhà thuốc</p> 
                </a>
                <a id="instruction" [class.active]="id === 'instruction'" (click)="tabChange('instruction')">
                    <p class="list-item">Hướng dẫn mua hàng Online</p>
                </a>
                <a id="policydelivery" [class.active]="id === 'policydelivery'" (click)="tabChange('policydelivery')">
                    <p class="list-item">Chính sách giao hàng</p>
                </a>
                <a id="policypayment" [class.active]="id === 'policypayment'" (click)="tabChange('policypayment')">
                    <p class="list-item">Chính sách thanh toán</p>
                </a>
                <a id="policywarranty" [class.active]="id === 'policywarranty'" (click)="tabChange('policywarranty')">
                    <p class="list-item">Chính sách đổi trả, bảo hành</p>
                </a>
                 <a id="policysecurity" [class.active]="id === 'policysecurity'" (click)="tabChange('policysecurity')">
                    <p class="list-item">Chính sách bảo mật</p>
                </a>
                <a id="memberpoint" [class.active]="id === 'memberpoint'" (click)="tabChange('memberpoint')"><p class="list-item">Thể lệ tích điểm thành viên</p></a>
            </div>
        </div>
    </div>
    <div class="box_right">
        <div class="right_content" *ngIf="id === 'overview'">
            <a class="sub-header">GIỚI THIỆU NHÀ THUỐC BENZEN</a>
            <br>
            <div class="tiltle-sub-content">
                <p class="sub-header">
                    I. Về nhà thuốc Benzen
                </p>
                <p class="content--item">
                    Được thành lập từ năm 2019, Nhà thuốc Benzen là cửa hàng dược phẩm bán lẻ uy tín tại Việt Nam đạt chuẩn GPP trên toàn quốc. Nhà thuốc Benzen đang kinh doanh và cung cấp các loại sản phẩm nằm trong danh mục được Bộ Y tế đã cấp phép lưu hành, gồm: Thuốc; Dược - mỹ phẩm; Thực phẩm chức năng và Thiết bị y tế.
                </p>
                <p class="content--item">Thông tin liên hệ nhà thuốc Benzen:</p>
                <p class="content--item">Đơn vị: Công ty cổ phần bán lẻ Nhà thuốc Benzen</p>
                <p class="content--item">Địa chỉ: XX Bạch Đằng, P.2, Q. Tân Bình, TP. Hồ Chí Minh</p>
                <p class="content--item">Hotline miễn phí: 1800 29YY</p>
                <p class="content--item">Email: sale@nhathuocbenzen.com</p>

                <p class="sub-header">II. Sứ mệnh nhà thuốc</p>
                <p class="content--item">
                    Từ khi thành lập, Benzen đặt ra sứ mệnh mong muốn được phục vụ, chăm sóc sức khỏe cộng đồng với sự đồng hành của đội ngũ dược sĩ chuyên môn cao, giàu kinh nghiệm; sản phẩm có chất lượng và giá cả hợp lý.
                    <br> <br>
                    Với sứ mệnh này, Nhà thuốc Benzen luôn không ngừng cải thiện chất lượng dịch vụ từ những điều nhỏ nhất, nhằm nâng cao trải nghiệm của khách hàng và đem lại sự hài lòng, thoải mái nhất tới khách hàng khi đến với nhà thuốc.

                </p>
                <p class="sub-header">
                    III. Giá trị cốt lõi
                </p>
                <p class="content--item">
                    Nhà thuốc Benzen đạt chuẩn Thực hành thuốc tốt – GPP, với đội ngũ dược sĩ có chuyên môn và giàu kinh nghiệm. Cam kết phục vụ theo 3 tiêu chí:
                    <ul >
                        <li>Tất cả sản phẩm chính hãng, có nguồn gốc rõ ràng.</li>
                        <li> Giá cả sản phẩm đều được niêm yết công khai và minh bạch.</li>
                        <li> Dược sĩ trung thực và tư vấn tận tâm với khách hàng.</li>
                    </ul>
            </div>
        </div>
        <div class="right_content" *ngIf="id === 'instruction'">
                <p class="sub-header">HƯỚNG DẪN MUA HÀNG ONLINE</p>
                <p class="content--item">
                    <b>Bước 1: Tìm kiếm và chọn sản phẩm cần mua</b> 
                    <ul>
                        <li>Cách 1:  Lựa chọn những sản phẩm được gợi ý tại trang chủ.
                        </li>
                        <li>Cách 2: Sử dụng thanh tìm kiếm để chọn sản phẩm cần mua.
                        </li> 
                        <li>Cách 3: Sử dụng Menu nằm ở header để lựa chọn sản phẩm theo từng nhóm như Thuốc, Thực phẩm chức năng, Dược - mỹ phẩm, Thiết bị y tế.</li>
                    </ul>


                <p class="content--item">
                    <b>Bước 2: Xem thông tin chi tiết sản phẩm đó</b> 
                    <ul>
                        <li>Cách 1: Mua tại ô sản phẩm</li>
                    </ul>
                    <p class="content--item">Click vào nút Thêm vào giỏ hàng.</p>
                    <p class="content--item">Sau khi click sản phẩm sẽ được thêm vào giỏ hàng.</p>
                
                    <ul>
                        <li>Cách 2: Mua tại trang chi tiết sản phẩm</li>
                    </ul>
                    <p class="content--item">Bấm vào nút Thêm vào giỏ hàng để thêm sản phẩm vào giỏ. Khách hàng có để mua cùng lúc nhiều sản phẩm qua nút tăng giảm số lượng sản phẩm.</p>
                    <ul>
                        <li>Cách 3: Mua qua Box chat Trò chuyện</li>
                    </ul>
                    <p class="content--item">Đối với khách hàng cần có sự tư vấn từ admin trước khi mua. Đội ngũ admin trực chat sẽ tư vấn, báo giá thuốc, và lên đơn thuốc cho quý khách. 
                    <br>
                    <br>Nút Chat xuất hiện ở tất cả các trang, khi có nhu cầu, khách có thể chat trực tiếp với admin bất cứ lúc nào trong khung giờ 7h00-22h00.
                    <br>
                    <br>Ngoài ra khách hàng còn có thể liên hệ trực tiếp với nhà thuốc qua hotline để được hỗ trợ nhanh nhất trong khung giờ 7h00-22h00.
                    <br>
                    <br>Khách hàng có thể bấm vào nút xem giỏ hàng ở góc trên bên phải màn hình để xem giỏ hàng và thanh toán.

                    </p>
                    <br> 
                   
               

                <p class="content--item">
                    <b>Bước 3: Quý khách điền đầy đủ thông tin mua hàng theo mẫu:</b> 
                    <p class="content--item">Khách hàng chọn tick vào các sản phẩm trong giỏ muốn mua và chọn nút Đặt hàng. Khách hàng sẽ chuyển đến trang Thanh toán, khách hàng xem lại sản phẩm đặt mua và giá thành tiền. Sau đó, khách hàng sẽ tiến hành điền và chọn các thông tin thanh toán cần thiết, cũng như nhập mã giảm giá theo mẫu.</p>
                    <br>
                    <p class="content--item">Khi hoàn tất, khách hàng xác nhận thanh toán bằng cách chọn nút Thanh toán. 
                    </p>
               
                <p class="content--item">
                    <b>Bước 5: Theo dõi đơn hàng</b> 
                </p>
                <p class="content--item">
                    Bên cạnh đó, đối với khách hàng không là thành viên và thành viên cũng sẽ xem lại được thông tin chi tiết đơn hàng qua đường link mà hệ thống đã gửi về qua email khách hàng.
                <br>
                <i>*Tham khảo chính sách: nhathuocankhang.com/huong-dan-mua-hang-online-an-khang</i>
                </p>
        </div>
    <div class="right_content" *ngIf="id === 'policydelivery'">
            <p class="sub-header">CHÍNH SÁCH GIAO HÀNG</p>
     <table>
        <thead>
            <tr>
                <td>Khoảng cách</td>
                <td>Giá trị đơn hàng</td>
                <td>Phí vận chuyển</td>
                <td>Thời gian giao hàng</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2"><= 10km</td>
                <td><300.000đ</td>
                <td>25.000đ</td>
                <td rowspan="2">Trong 2 - 4h ngày làm việc</td>
            </tr>
            <tr>
                <!-- <td ></td> -->
                <td>>=300.000đ</td>
                <td>Miễn Phí</td>
                <!-- <td></td> -->
            </tr>
            <tr>
                <td rowspan="2">> 10km</td>
                <td><300.000đ</td>
                <td>25.000đ</td>
                <td rowspan="2">Trong 3 - 7 ngày làm việc</td>
            </tr>
            <tr>
                <!-- <td ></td> -->
                <td>300.000đ</td>
                <td>Miễn phí</td>
                <!-- <td></td> -->
            </tr>
        </tbody>
     </table>
     <p class="content--item">(Thời gian trên gồm tất cả các ngày trong tuần)
    </p>
    <p class="content--item"><i>*Tham khảo chính sách: nhathuocankhang.com/chinh-sach-giao-hang-an-khang</i></p>
        
    </div>

    <div class="right_content" *ngIf="id === 'policypayment'">
            <p class="sub-header">CHÍNH SÁCH THANH TOÁN</p>
            <div class="content--item">
                Khách hàng có thể lựa chọn 1 trong 3 hình thức thanh toán dưới đây:
                    <br>
                    <br>
                    <p class="content--item"><b>I. Thanh toán khi nhận hàng (COD):</b></p>
                    <p  class="content--item">
                        Bước 1: Người mua tìm hiểu thông tin về sản phẩm được đăng tải
                        <br>
                        Bước 2: Người mua đặt hàng trực tuyến, chọn hình thức Thanh toán khi nhận hàng
                        <br>
                        Bước 3: Benzen xác nhận thông tin người nhận
                        <br>
                        Bước 4: Benzen chuyển hàng cho đơn vị giao hàng
                        <br>
                        Bước 5: Người nhận nhận hàng, kiểm tra và thanh toán
    
                    </p>
                    <p class="content--item"><b>II. Thanh toán qua ngân hàng:</b></p>
                    <p class="content--item">
                        Bước 1: Người mua tìm hiểu thông tin về sản phẩm được đăng tải
                        <br>
                        Bước 2: Người mua đặt hàng trực tuyến, chọn hình thức Thanh toán qua ngân hàng
                        <br>
                        Bước 3: Khách hàng đang thao tác đặt hàng tại website nhà thuốc, hệ thống chuyển sang giao diện thanh toán của bên thứ 3. Khách hàng điền các thông tin theo hướng dẫn để hoàn tất việc đặt hàng. Hệ thống sẽ thông báo mã đơn hàng sau khi thanh toán thành công.
                        <br>
                        Bước 3: Benzen xác nhận thông tin người nhận
                        <br>
                        Bước 4: Benzen chuyển hàng cho đơn vị giao hàng
                        <br>
                        Bước 5: Người nhận nhận hàng và kiểm tra
                    </p>
                <p class="content--item"><b>II. Thanh toán qua ví Momo:</b></p>
                <p class="content--item">
                    Bước 1: Người mua tìm hiểu thông tin về sản phẩm được đăng tải.
                    <br>
                    Bước 2: Khách hàng đang thao tác đặt hàng tại website nhà thuốc, hệ thống chuyển sang giao diện cổng thanh toán của ví Momo. Khách hàng mở app Momo quét mã QR để hoàn tất việc đặt hàng.Hệ thống sẽ thông báo mã đơn hàng sau khi thanh toán thành công.
                    <br>
                    Bước 3: Benzen xác nhận thông tin người nhận.
                    <br>
                    Bước 4: Benzen chuyển hàng cho đơn vị giao hàng.
                    <br>
                    Bước 5: Người nhận nhận hàng và kiểm tra.
    
                </p>
                <p class="sub-header">
                    Quy định về hoàn trả tiền khi thanh toán trực tuyến            </p>
                <p class="content--item">
                    Trong trường hợp quý khách hàng đã mua hàng & thanh toán trực tuyến thành công nhưng dư tiền, hoặc trả sản phẩm, Nhà thuốc Benzen sẽ hoàn tiền vào thẻ quý khách đã dùng để thanh toán, theo thời hạn như sau:
                </p>
                <p class="content--item">
                    <ul>
                        <li><b>Đối với thanh toán qua ngân hàng:</b>  Thời gian khách hàng nhận được tiền hoàn từ 5 - 7 ngày (trừ Thứ 7, Chủ Nhật và Ngày lễ) kể từ khi Benzen nhận được đề nghị của khách hàng. Nếu qua thời gian trên không nhận được tiền, Benzen sẽ hỗ trợ liên hệ ngân hàng của khách hàng để giải quyết.</li>
                    </ul>
                    <ul>
                        <li><b>Đối với ví điện tử MoMo: </b>  Thời gian khách hàng nhận được tiền hoàn từ 3 - 5 ngày kể từ khi Benzen nhận được đề nghị của khách hàng. Nếu qua thời gian trên không nhận được tiền, Benzen sẽ hỗ trợ liên hệ ngân hàng của khách hàng để giải quyết.
                        </li>
                    </ul>
                    
                <p class="content--item">
                    <i>*Tham khảo chính sách: nhathuocankhang.com/chinh-sach-thanh-toan-an-khang</i>
                </p>
        </div>
    </div>
    <div class="right_content" *ngIf="id === 'policywarranty'">
            <p class="sub-header">CHÍNH SÁCH ĐỔI TRẢ, BẢO HÀNH</p>
            <p class="content--item">
                Chính sách đổi trả, bảo hành nhà thuốc Benzen
            </p>
          <table>
            <thead>
                <tr>
                    <td>NHÓM SẢN PHẨM</td>
                    <td>NỘI DUNG</td>
                    <td>ĐIỀU KIỆN ĐỔI TRẢ</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Thuốc</td>
                    <td rowspan="3">Đổi sản phẩm mới hoặc hoàn tiền 100% trong 3 ngày:
                    <br>
                    Áp dụng cho trường hợp lỗi phát sinh do Nhà sản xuất. Không áp dụng cho mặt hàng trữ lạnh, hàng tiêm chích.
                    <br>
                     Đối với sản phẩm cận date: Không đổi sản phẩm mới mà chỉ áp dụng hoàn tiền 100% giá trị hóa đơn.
                    </td>
                    <td rowspan="3">
                        Hóa đơn/ Biên nhận của Benzen hoặc Số Điện Thoại khi mua hàng
                    </td>
                </tr>
                <tr>
                    <td>Thực phẩm chức năng</td>
                </tr>
                <tr>
                    <td>Dược-mỹ phẩm</td>
                </tr>
                <tr>
                    <td>
                        Thiết bị y tế
                    </td>
                    <td>
                        1 đổi 1: trong 30 ngày đối với sản phẩm lỗi do nhà sản xuất 
                        <br>
                        Trường hợp hết sản phẩm để đổi cho khách hàng sẽ quy đổi ra e-voucher có giá trị bằng 100% giá trị Hóa đơn, không quy đổi thành tiền mặt, có giá trị trong 1 tháng.
                        <br>
                        <br>
                        Cam kết thời gian bảo hành 15 ngày sản phẩm đem đi bảo hành được hoàn tất trong 15 ngày.
                        <br>
                        Nếu vi phạm cam kết, tặng Khách Hàng e-voucher trị giá 20% giá trị Hóa Đơn (Max = 200.000đ), không quy đổi thành tiền mặt, có giá trị trong 1 tháng. Kéo dài thời gian bảo hành trong 15 ngày tiếp theo, nếu đến ngày thứ 30 mà khách vẫn không nhận được máy bảo hành thì tiến hành nhập trả hoàn tiền, trừ 20% phí sử dụng.
                    </td>
                    <td>Lỗi do nhà sản xuất, không áp dụng đối với lỗi do người sử dụng.
                    <br>
                    Sản phẩm đáp ứng đủ điều kiện bảo hành và thời gian bảo hành của hãng.
                    </td>
                </tr>
                <tr>
                    <td>Sản phẩm khuyến mãi</td>
                    <td>Không áp dụng bảo hành và đổi trả tại Nhà thuốc Benzen Nếu sản phẩm có lỗi và có chính sách bảo hành riêng, vui lòng liên hệ bảo hành hãng để được hỗ trợ.</td>
                </tr>
            </tbody>
          </table>
            <br>
        <p class="content--item">
        <i>*Tham khảo chính sách: nhathuocankhang.com/chinh-sach-doi-tra-bao-hanh-an-khang</i>
        </p>
        </div>   
        <div class="right_content" *ngIf="id === 'policysecurity'" >
            <a class="sub-header">CHÍNH SÁCH BẢO MẬT</a>
            <p class="sub-header">1. Mục đích thu thập thông tin</p>
            <p class="content--item">
                Nhà thuốc Benzen thu thập thông tin liên lạc cần thiết để thực hiện giao dịch giữa website với khách hàng mà không lấy thêm thông tin gì khác. Thông tin của khách hàng sẽ chỉ được lưu lại khi khách hàng tạo tài khoản và đăng nhập với tài khoản của mình. Nhà thuốc Benzen cam kết không chia sẻ hay sử dụng thông tin cá nhân của khách hàng cho một bên thứ 3 nào khác với mục đích lợi nhuận. Thông tin của khách hàng sẽ chỉ được sử dụng trong nội bộ nhà thuốc. Khi khách hàng đăng kí trên website, những thông tin chúng tôi thu thập bao gồm:
                <br> <br>
                Tên - Địa chỉ giao hàng - Số điện thoại - Ngày sinh - Giới tính - Những thông tin khác (nếu có).
            </p>
            <p class="sub-header">2. Phạm vi sử dụng thông tin</p>
            <p class="content--item">
                Những thông tin trên chỉ được sử dụng cho những mục đích sau đây:
                <ul>
                    <li>Thông báo giao hàng và hỗ trợ khách hàng</li>
                    <li>Cung cấp thông tin sản phẩm</li>
                    <li>Xử lý đơn đặt hàng và cung cấp dịch vụ theo yêu cầu của khách hàng</li>
                    <li>Chia sẻ cho dịch vụ chuyển phát nhanh để giao hàng</li>
                    <li>Ngoài ra, chúng tôi sẽ sử dụng thông tin của khách hàng trong việc quản lý tài khoản, giao dịch tài chính, kiểm tra dữ liệu để cải thiện tính năng của website nhằm mang đến cho khách hàng những trải nghiệm tốt nhất khi ghé thăm website</li>
                </ul>
                <p class="content--item">
                    Chi tiết đơn hàng của khách hàng sẽ được giữ bảo mật và chỉ được cung cấp cho chủ đơn hàng. Chúng tôi có quyền không cung cấp thông tin nếu khách hàng không cung cấp chính xác thông tin xác nhận theo yêu cầu từ Nhà thuốc. Khách hàng có thể theo dõi đơn hàng của mình trong tài khoản của mình.
                </p>
            <p class="sub-header">3. Những người hoặc tổ chức có thể được tiếp cận với thông tin cá nhân của khách hàng</p>
            <p class="content--item">
                Thông tin của khách hàng sẽ được giữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của Nhà thuốc Benzen.
            </p>
            <p class="sub-header">4. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</p>
            <p class="content--item">
                Đơn vị: Công ty cổ phần bán lẻ Nhà thuốc Benzen
                <br>
                Địa chỉ: XX Bạch Đằng, P.2, Q. Tân Bình, TP. Hồ Chí Minh
                <br>
                Hotline miễn phí: 1800 29YY
                <br>
                Email: sale@nhathuocbenzen.com

            </p>
            <p class="sub-header">5. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình</p>
            <p class="content--item">
                Bất cứ thời điểm nào khách hàng cũng có thể truy cập và chỉnh sửa những thông tin cá nhân của mình.
            </p>
            <p class="sub-header">6. Cam kết bảo vệ thông tin cá nhân khách hàng</p>
            <p class="content--item">
                Nhà thuốc Benzen luôn đảm bảo rằng mọi thông tin cá nhân của khách hàng sẽ được lưu giữ an toàn. Ngoại trừ các trường hợp về việc sử dụng thông tin cá nhân như đã nêu trong chính sách này, Benzen cam kết sẽ không tiết lộ thông tin cá nhân khách hàng ra ngoài vì mục đích thương mại. Benzen có thể tiết lộ hoặc cung cấp thông tin cá nhân của khách hàng trong các trường hợp thật sự cần thiết như sau:
                <ul>
                    <li>
                        Khi có yêu cầu của cơ quan pháp luật
                    </li>
                    <li>
                        Trong trường hợp mà điều đó giúp Benzen bảo vệ quyền lợi chính đáng của mình trước pháp luật
                    </li>
                    <li>
                        Tình huống khẩn cấp và cần thiết để bảo đảm quyền an toàn cá nhân của các thành viên khác
                    </li>
                </ul>
           <p class="content--item"><i>*Tham khảo chính sách: nhathuoclongchau.com.vn/chinh-sach-bao-mat</i></p>
        </div> 
        <div class="right_content" *ngIf="id === 'memberpoint'" >
        <p class="sub-header">THỂ LỆ TÍCH ĐIỂM THÀNH VIÊN NHÀ THUỐC BENZEN</p>
        <p class="content--item">
            Điểm tích lũy của thành viên khi mua hàng tại Nhà thuốc Benzen được quy đổi bằng tổng số tiền khách hàng đã chi tiêu tại Nhà thuốc Benzen, được dùng để quy đổi thành Mã giảm giá vớ giá trị tương ứng.
        </p>
        <p class="sub-header">1. Đối tượng áp dụng:</p>
        <p class="content--item">
            Tất cả khách hàng có tài khoản và mua hàng tại Nhà thuốc Benzen.
        </p>
        <p class="content--item">
            <i>*Trường hợp thay đổi số điện thoại, khách hàng có thể đến cửa hàng gần nhất hoặc gọi điện đến hotline Chăm sóc khách hàng miễn phí 1800 29YY để được hướng dẫn với điều kiện số điện thoại mới không trùng số điện thoại của tài khoản khác.
            </i>
        </p>
        <p class="sub-header">2. Điều kiện tích điểm:</p>
        <ul>
            <li>Khách hàng được tích lũy điểm khi có tài khoản và mua hàng tại Nhà thuốc Benzen.
            </li>
            <li>Chỉ áp dụng cho người đủ từ 18 tuổi trở lên.</li>
            <li>Chỉ áp dụng cho người tiêu dùng cuối cùng (khách hàng mua sản phẩm phục vụ cho nhu cầu sử dụng hàng ngày), không áp dụng cho khách hàng mua với số lượng lớn (trong một hoặc nhiều lần), khách bán buôn, bán sỉ.
            </li>
            <li>Không áp dụng tích lũy giảm trừ khi áp dụng các chương trình khuyến mãi khác</li>
        </ul>
        <p class="sub-header">3. Mã giảm giá:</p>
        <ul>
            <li>Thành viên được định danh bằng một số điện thoại duy nhất. Một số điện thoại được tương ứng với một mã thành viên trên hệ thống. Khách hàng có thể xem số điểm đã tích được tại trang cá nhân khách hàng sau khi đăng nhập.
            </li>
            <li>Trường hợp khi khách hàng đạt điều kiện quy đổi vourcher theo số điểm tương ứng. Nhà thuốc sẽ gửi Mã giảm giá qua số điện thoại mà khách hàng đăng ký thành viên bằng hình thức tin nhắn. Khách hàng có thể cung cấp mã giảm giá cho các cá nhân khác sử dụng và nhà thuốc Benzen sẽ không chịu trách nhiệm.
            </li>
            <li>.Mỗi mã giảm giá chỉ có giá trị sử dụng một lần suy nhất.  Mã giảm giá được sử dụng ở bất kỳ tài khoản thành viên cung cấp mã cho nhà thuốc khi thanh toán đơn hàng.
            </li>
        </ul>
        <p class="sub-header">4. Tỷ lệ quy đổi điểm:
        </p>
        <p class="content--item">Tỷ lệ quy đổi điểm là số điểm tích lũy tương ứng với giá trị VNĐ để khách hàng dùng khi thanh toán.</p>
        <ul>
            <li>Tỷ lệ quy đổi được áp dụng là 1 điểm Thẻ thành viên = 1.000 VNĐ, trường hợp dưới 1.000 VNĐ sẽ được làm tròn như sau: Từ 500 VNĐ trở lên: làm tròn thành 1 điểm; dưới 500 VNĐ: làm trò 0 điểm.
            </li>
        </ul>
        <p class="content--item">
        Công thức tính như sau:
        <br>
        Điểm tích lũy = Tổng giá trị thanh toán cuối cùng của các sản phẩm khi thanh toán hoàn tất đơn hàng
        </p>
        <ul>
            <li>Điểm tích lũy không có giá trị quy đổi sang tiền mặt.</li>
            <li>Điểm tích lũy không được quy đổi khi sử dụng các chương trình khuyến mãi khác.
            </li>
        </ul>
        <p class="sub-header">5. Cách thức quy đổi:
        </p>
        <table>
            <thead>
            <tr>
                <td>Giá trị Mã giảm giá</td>
                <td>Số điểm tích lũy (VNĐ)</td>
                <td>Mô tả</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mã giảm giá 10k</td>
                <td>1.000.000</td>
                <td>Giảm 10k trên tổng đơn hàng</td>
            </tr>
            <tr>
                <td>Mã giảm giá 20k</td>
                <td>2.000.000</td>
                <td>Giảm 20k trên tổng đơn hàng</td>
            </tr>
            <tr>
                <td>Mã giảm giá 35%</td>
                <td>5.000.000</td>
                <td>Giảm 35% trên tổng đơn hàng</td>
            </tr>
        </tbody>
        </table>
        <p class="sub-header">6. Chi tiêu tích lũy và quy đổi mã giảm giá</p>
        <ul>
            <li class="content--item">Khách hàng đọc số điện thoại hoặc đăng nhập vào tài khoản thành viên khi mua hàng online tại website</li>
            <li class="content--item">Hệ thống tích điểm vào thẻ thành viên dựa trên giá trị đơn hàng của khách hàng 
            </li>
        </ul>
        <p class="sub-header">6.1. Chi tiêu tích lũy:</p>
        <li class="content--item" >Khách hàng đọc số điện thoại hoặc đăng nhập vào tài khoản thành viên khi mua hàng online tại website
        </li>
        <li class="content--item" >Hệ thống tích điểm vào thẻ thành viên dựa trên giá trị đơn hàng của khách hàng 
        </li>
        <p class="sub-header">6.2. Quy đổi mã giảm giá </p>
        <li class="content--item" > Bước 1: Khách hàng đăng nhập vào tài khoản thành viên khi mua hàng online tại website hoặc đọc số điện thoại khi mua tại cửa hàng
        </li>
        <li class="content--item" >Bước 2: Khách hàng lựa chọn mã giảm giá tương ứng với điểm quy đổi
        </li>
        <li class="content--item" >Bước 3: Hệ thống trừ số điểm khách hàng đã sử dụng vào thẻ thành viên.
        </li>
        <p class="sub-header">7. Điều khoản khác:</p>
        <ul>
            <li class="content--item">Khách hàng có trách nhiệm cung cấp thông tin chính xác khi thanh toán để được tích điểm. Benzen có quyền từ chối xử lý trong các trường hợp sai sót do khách hàng cung cấp thông tin không chính xác.
            </li>
            <li class="content--item">Khách hàng phải đọc số điện thoại để được đổi điểm khi thanh toán tại nhà thuốc Benzen. Benzen có quyền từ chối giảm trừ trên đơn hàng trong trường hợp không đủ thông tin xác nhận danh tính khách hàng.

            </li>
            <li class="content--item">Trong trường hợp tài khoản thành viên có dấu hiệu gian lận trong giao dịch, Benzen có quyền khóa thẻ Thành viên của khách hàng để điều tra. Khi khóa thẻ, khách hàng không thể giao dịch và không tích điểm hoặc dùng điểm tích lũy để nhận ưu đãi thuộc tài khoản bị khóa. Trong trường hợp trả hàng & hoàn tiền, điểm thành viên sẽ không được tính.
            </li>
        </ul>
        <p class="content--item">
            <i>*Tham khảo chính sách: pharmacity.vn/page/the-le-chuong-trinh-the-thanh-vien
            </i>
        </p>
        </div>
    </div>
</div>

