*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 160px;
}

.chat-box{
    width: 400px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.client{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #2D982A ;
    height: 80px;
    padding: 15px;

}

.client img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-info{
    color:#fff;
    padding: 15px;
}

.client-info p{
    color: #fff;
    font-size: 16px;
    font-weight: bold;

}

.chats{
    width: 100%;
    padding: 0 15px;
    color: #000;
    position: relative;
    font-size: 16px;
}

.buyer-chat{
width: 60%;
word-wrap: break-word;
background-color: #F2F2F2 ;
padding: 7px 10px;
border-radius: 10px 10px 10px 0;
margin: 10px 0;
}

.my-chat{
width: 60%;
word-wrap: break-word;
background-color: #C2F4C0 ;
padding: 7px 10px;
border-radius: 10px 10px 0px 10px;
margin: 5px 0 5px auto;
}

.chat-input{
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.chat-input input{
    width: calc(100% - 40px);
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #000;
}

.send-btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;


}

.send-btn:active{
    transform: scale(0.85);
}

.send-bth img{
    /* width: 100%;
    height: 100%; */
    
}

.material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 700;
      font-size: 35px;
   background-color: #fff   ;
   color: #9A9A9A;
   display: inline-block;
   background: none;
}

button {
    background-color: #fff;
}

.do_not_disturb_on{
    width: 350px;
    background-color: #2D982A;
    
}

.chat-box .material-symbols-outlined {
    color: #ffffff;
}

.chat-input .material-symbols-outlined{
    color: #9A9A9A;
}