
<html lang="en">
<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>

<div class="container">
    <div class="chat-box">
        <div class="client">
            <img src="/assets/image/products/product1.png" alt="logo">
            <div class="client-info">
                <h2>Benzen</h2>
                <p>online</p>
            </div>
        <button>
            <div class="do_not_disturb_on">
                <span class="material-symbols-outlined">do_not_disturb_on</span>
            </div>

        </button>
        </div>

        <div class="chats">
            <div class="buyer-chat">Chào <b>Bá Tùng</b>, Benzen có thể hỗ trợ gì cho bạn không?</div>
            <div class="my-chat">Tôi muốn tìm thuốc nhức đầu, hãy tư vấn cho tôi các loại mà bạn hiện có.</div>
            <div class="buyer-chat">Hãy mô tả thêm về các triệu chứng của bạn để được tư vấn chính xác nhất nhé</div>
        </div>

    <div class="chat-input">
        <button id="tag"><span class="material-symbols-outlined">attach_file</span></button>
        <input type="text" placeholder="Nhập tin nhắn"/>
        <button class="send-btn">
            <img src="/assets/image/products/product1.png" alt="send-btn">
        </button>
    </div>
</div>
</div>
