<app-navigate-bar></app-navigate-bar>
<!--<app-admin-order-management></app-admin-order-management>
<app-admin-order-detail-management></app-admin-order-detail-management>
<app-admin-uncomplete-order-management></app-admin-uncomplete-order-management>
<app-admin-custoner-management></app-admin-custoner-management>
<app-admin-customer-detail-management></app-admin-customer-detail-management>
<app-admin-messenger></app-admin-messenger>
<app-admin-product-management></app-admin-product-management>-->
<app-admin-product-detail-management></app-admin-product-detail-management>
<router-outlet></router-outlet>
