*{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
}
.main-left{
    width: 15%;
}
/* -----Cố định--------- */
.main-right{
    background: #F6F8FB;
    width: 85%;
    height: 100vh;
    display: flex;
    padding: 0 38px;
    flex-direction: column;
}
.admin-info{
    display: flex;
    background: #F6F8FB;
    padding: 24px 0px;
    justify-content: flex-end;

}
.admin-ava{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.admin-info .material-symbols-outlined{
    cursor: pointer;
}
.material-icons-outlined{
    float: left;
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
.admin-name{
    width: fit-content;
    height: fit-content;
    margin: 0 10px;
    text-align: center;
}
.page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
}
.page-title p{
    font-weight: bold;
    font-size: 35px !important;
    margin: 0;
    padding: 0;
}
.page-search{
    color: #f2f2f2;
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}
#search{
    font-size: 13px;
    border: none;
}
.page-search .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  color: #979797;
}
/* --------------------------- */
.page-body{
    background-color: #FFFF;
    margin: 0 80px;
    border-radius: 5px;
}
.page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 5px;
}
.page-title-main{
    font-size: 25px;
}
.page-body-title{
    margin-top: 50px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 35px;
}
.page-body-search {
  display: flex;
  align-items: center;
  height: 30px;
  width: 220px;
  margin-right: 80px;
  border: 1px solid #ccc;
  border-radius: 100px;
  background-color: #fff;
  padding: 2px 4px;
}
.page-body-search span {
  color: #ccc;
}
#search{
    outline: none;
    border: none;
    padding: 4px;
    width: 100%;
}
.page-body-header{
    height: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.order_info{
    display: flex;
    position: absolute;
    height: 95px;
}
.order_info--detail{
    font-size: 18px;
    display: block;
    padding: 0 80px
}
.order_info--detail p{
    text-align: center;
}
.title{
    color: #777777;
    font-weight: bold;
}
#ord_id{
    font-weight: bold;
}
hr{
    width:1;
    height: 80;
}
.page-body-content{
    display: flex;
    height: 450px;
    margin-top: 20px;
}
.page-body-table{
    width: 70%;
    background-color: #fff;
}
.order_table{
    table-layout: auto;
    width: 100%;
    text-align: center;
    border-spacing: 0px;
}
.table_title{
    width: 100%;
    height: 30px;
    background-color: #d5eed8;
    border-radius: 20px;
}
.table_data td{
    border-bottom: 1px solid #ddd;
}
.image img{
    height: 40px;
    align-items: center;
}
td.total{
    font-weight: bold;
    text-align: left;
    padding: 15px;
}
.order_action{
    float: right;
    margin-top: 20px;
    height: 8%;
    width: 25%;
}
.order_action button{
    float: right;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#approve{
    background-color: #225730;
    color:#fff
}
#cancel{
    background-color: #ff0f0f;
    color:#fff
}
.page-body-detail{
    width: 30%;
    margin: 0 20px;
}
.order-info{
    border: 1px solid #000000;
    border-radius: 10px;
    align-items: center;
    padding-left: 10px
}
.order-info-title{
    font-weight: bold;
}
#note{
    font-style: italic;
}

/* pop-up */
