<div class="main">
  <p class="heading">Thanh toán qua thẻ ATM nội địa/ Internet Banking</p>
  <div class="row">
    <p class="row__title">
      Số tài khoản ngân hàng
    </p>
    <input type="text" class="row__input" placeholder="Nhập số tài khoản">
  </div>
  <div class="row">
    <p class="row__title">
      Tên chủ tài khoản
    </p>
    <input type="text" class="row__input" placeholder="Nhập tên chủ tài khoản">
  </div>
  <div class="row">
    <p class="row__title">
      Số điện thoại chủ tài khoản
    </p>
    <input type="text" class="row__input" placeholder="Nhập số điện thoại">
  </div>
  <button class="payment-done" (click)="onComplete()">Hoàn tất</button>
</div>

<!-- popup -->
<div class="popup" *ngIf="isDonePayment">
  <div class="popup-container">
    <h2 class="popup-title">Đặt hàng thành công</h2>
    <hr>
    <p class="popup-message"><span class="main-color">Đặt hàng thành công</span>
      <br>Vui lòng theo dõi đơn hàng nhé!</p>
    <div class="popup-buttons">
      <button class="popup-button" (click)="viewDetail()">Xem chi tiết</button>
      <button class="popup-button" (click)="goHome()">Trở lại</button>
    </div>
  </div>
</div>
