<div class="main">
  <p class="heading">Thanh toán qua thẻ ATM nội địa/ Internet Banking</p>
  <div class="row">
    <p class="row__title">
      Số tài khoản ngân hàng
    </p>
    <input type="text" class="row__input" placeholder="Nhập số tài khoản">
  </div>
  <div class="row">
    <p class="row__title">
      Tên chủ tài khoản
    </p>
    <input type="text" class="row__input" placeholder="Nhập tên chủ tài khoản">
  </div>
  <div class="row">
    <p class="row__title">
      Số điện thoại chủ tài khoản
    </p>
    <input type="text" class="row__input" placeholder="Nhập số điện thoại">
  </div>
</div>
