*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body{
    margin: 0px;
    padding: 0px;
}

.navigate__bar{
    position: fixed;
    background: #225730;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
}

.nav__title{
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.nav__content {
    display: block;
    list-style: none;
    text-decoration: none;
    left:0;
    padding-inline-start: 20px;
    margin-block-end: 1em;
}

.navigate__bar--link{
	display: flex;
    align-items: center;
	color:#FFFFFF;
	font-size: 16px;
    text-decoration: none;
    flex-direction: row;
    margin: 18px 0;
}

.material-icons-outlined{
	color: #FFFFFF;
	display: inline-block;
    padding-left: 0px;
    width: 21px;
    height: 21px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav__item{
    margin-left: 15px
}
.nav__back{
    color: #FFFFFF;
    position:absolute;
    padding-left: 60px;
    display: flex;
    align-items: center;
    float:right;
    bottom:0;
    width:100%;

}