<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
  </head>
  <body>
    <div class="content">
      <div class="left-content">
        <p>BENZEN MUA THUỐC DỄ DÀNG
          <br>
          AN TÂM CHẤT LƯỢNG
        </p>
        <div>
          <img src="/assets/image/login cus/store.png" class="banner"/>
        </div>
        <p>Nhận nhiều ưu đãi khi trở thành thành viên tại Benzen Pharmacy <br>
        <span class="bold">ĐĂNG NHẬP NGAY !!!</span></p>
      </div>

      <div class="right-content">
        <form action="app-login" method="get" class="login_form">
          <h2 class="header">QUÊN MẬT KHẨU</h2>
          <div class="container">
            <div class="container__input">
                <div class="container__input--item">
                  <div>
                    <label for="uname">Số điện thoại: </label>
                    <div class="input--content">
                        <input
                        required type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" (blur)="checkPhoneNumber()"
                        />
                      <span class="material">*</span>
                    </div>
                </div>
                <div *ngIf="!isPhoneNumberValid" class="error-message">Số điện thoại không hợp lệ!</div>
                <button id="otp-send" (click)="sendCode()">Gửi mã</button>
              </div>
              <div class="container__input--item">
                <div>
                    <label for="uname">Nhập mã xác nhận: </label>
                    <input type="text" id="otp-input" [(ngModel)]="verificationCode" name="verificationCode" (blur)="checkVerificationCode()">
                </div>
                <div *ngIf="!isVerificationCodeValid" class="error-message">Mã xác nhận không hợp lệ</div>

                <div class="reset-OTP">
                  <span>Chưa nhận được mã?</span>
                  <a id="otp-button" (click)="resend()">Gửi lại mã</a>
                </div>
            </div>
        </div>
        <div>
          <button type="submit" class="reset_button" (click)="onComplete()" >HOÀN TẤT</button>
            </div>
            <div *ngIf="!phoneNumberExist">Số điện thoại không tồn tại trong hệ thống!</div>
          </div>
          <div class="content--bottom">
            <a href="app-login"> << Trở về</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
