* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.container{
    margin-top: 176px;
    font-size: 15px;
    display: flex;
}
.box__left{
    min-width: 25%;
}
.content__details{
    min-width: 75%;
}
.box__infor--center{
width: 247px;
height: 293px;
background: #EBFFEA;
border-radius: 20px 20px 0px 0px;
}
.avt{
    vertical-align: middle;
    height: 121px;
    width: 121px;
    border-radius: 304.5px;  
    justify-items: center;
    align-self: center;
    margin-bottom: 25px;
}
.avt-infor{
    width: 247px;
    height: 293px;
    background: #EBFFEA;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infor{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 11px;
height: 83px;
justify-content: center;
align-self: center;

}
.infor p{
    margin:0;
}
.infor:nth-child(0){
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
}
.bold{
    font-weight: bold;
}
.color-main{
    color: #2D982A;
}
.box__menu{
    padding:10px;
    margin: o;
    font-size: 16px;
    border: none;
    background-color: #F8F8F8F8;
    display: inline-block;
    align-items: center;
    width: 247px;
    height: 100px;
}
.box__menu li{
    display: flex;
    list-style-type: none;
    border-bottom: #ccc;
    background-color: inherit;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    padding: 14px 10px;
    justify-items: center;
    font-size: 16px;
    
}
.material-symbols-outlined{
    color: #2D982A;
    float: right;
    margin-right: 5px;
}
.material-symbols-outlined .next{
    float: right;
}
.active{
    color: #000000;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    justify-items: center;
    font-size: 16px;
    background-color: #CEEFCD !important;

}

/* CSS content profile address */
.box__value--person{
    width: 925px;
height: max-content;
margin-top: 38px;
background: #FFFFFF !important ;
border-radius: 20px 20px 0px 0px;
margin-bottom: 15px;
}
.box__content--value div h2{
    font-style: normal;
    width: 1032px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    padding: 23px 0 0 20px;
    margin-bottom: 20px;
}
.box__value--person-content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 23px;

}
.box__content--imginfor{
    display: flex;
    flex-direction: column;
}
.box__content--imginfor img{
    height: 185px;
    width: 185px;
    border-radius: 304px;
    margin-bottom: 20px;
}
.box__content--imginfor p{
    margin: 15px 0 0 0;
}
.box__content--infordetail{

}
.content__infor--detail{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: fit-content;
    height: 182px;
    margin-bottom: 10px;
}
.content__infor--detail ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    padding: 0;
    
}
.content__infor--detail ul li:nth-child(1){
    font-weight: bold !important;
    width: 115px;
    margin-right: 67px;
}
.content__infor--detail ul li:nth-child(2){
    position: relative;
    float: right;
    width: fit-content;
}
.content__infor--detail ul:nth-child(2) li:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.box__content--infordetail button{
    width: 100px;
box-sizing: border-box;
background: #F2F2F2;
border: 1px solid #000000;
border-radius: 15px;
position: relative;
float: right;
}

.box__value--address{
      width: 925px;
height: max-content;
background: #FFFFFF !important ;
border-radius: 0px 0px 20px 20px;
margin-bottom: 25px;
}
.content__address{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}
.content__address--item{
    height: 150px;
    width: 831px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DFDFDF;
    background: #F8F8F8;
    border-radius: 15px;
    padding: 20px;
}
.address__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    padding: 0;
    margin: 0;
}
.address__title--infor{
    display: flex;
    flex-direction: row;
    gap: 14px
}
.address__title--infor p:nth-child(1), .address__title--infor p:nth-child(3){
    font-weight: bold;
}
.address__title button{
    width: 100px;
box-sizing: border-box;
background: #F2F2F2;
border: 1px solid #000000;
border-radius: 15px;
position: relative;
float: right;
height: -webkit-fill-available;
}
.address__add{
    text-align: center;
    margin-bottom: 20px;
}
.address__add input{
width: 110px;
height: fit-content;
color: #FFFFFF;
background: #2D982A !important;
border-radius: 20px;
font-weight: 400;
border: none;
}


/* CSS content order history*/
.box__content--value{
    box-sizing: border-box;
    width: 1032px;
    height: max-content;
    display: flex;
    flex-direction: column;
    background: #EBFFEA;
    border: 1px solid #E9E9E9;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 25px;
}
.box__content--value h2{
    font-style: normal;
    width: 1032px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    padding: 30px 0 0 65px;
}
.box__status{
    display: flex;
    width: 904px;
    height: 43px;
    margin: 20px 0px;
    background-color: #CEEFCD;
    border-radius: 9px;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    
}
.box__status li{
    display: flex;
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    height: 39px;
width: 177px !important;
border-radius: 9px;
justify-content: space-around;
align-items: center;
border: none;
cursor: pointer;
}
.active2{
    background: #91D88E;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px;
}
.box__order{
    width: 904px;
}
.box__order--status{
    width: 904px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}
.emptyorder{
    margin-top: 20px;
    text-align: center;
}
.emptyorder p{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}
.box__history--order{
    width: 904px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 18px 23px;
}
.box__history--order--title{
    width: 804px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #7C7C7C;
    margin-bottom: 5px;
}
.box__history--order--title h3{
width:fit-content;
height: 23px;
display: flex;
flex-direction: row;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;

color: #000000;
}
.box__history--order--title h3 span{
    font-size: 12px;
    width: 90px;
    height: max-content;
    text-align: center;
    color: white;
    border-radius: 15px;
    margin-left: 15px;
}
.cancelled {
    background-color: rgb(226, 81, 81);
  }

  .completed {
    background-color:#52b54f;
  }
  .delivering{
    background-color: #98dfea;
    color: #000000 !important;
  }
  .confirming{
    background-color: hsl(62, 91%, 87%);
    color: #000000 !important;
  }
.box__history--order--title button{
    height: max-content;
    width: 100px;

background: #F2F2F2;
border: 1px solid #000000;
border-radius: 15px;
    float: right;
}
.cart__main {
    padding: 0 40px;
  }
  .cart__main-row {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 16px 0;
  }
  .cart__main-row:nth-child(1):hover {
    background-color: transparent;
  }
  .cart__main-row:hover {
    background-color: #ffff;
  }
  .cart__main-row--product {
    width: 70%;
    display: flex;
    align-items: center;
    text-align: center;
  
  }
  .cart__main-row--product img {
    width: 100px;
    height: auto;
    margin-right: 12px;
  }
  .cart__main-row--price {
    width: 15%;
    font-weight: bold;
  }
  .cart__main-row--quantity {
    width: 15%;
  }

